In [136]:
import os
import csv
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [ ]:
!pip install seaborn

In [137]:
data_path = 'D:\\ML\\article_sort\\learn-ai-bbc\\BBC News Train.csv'

In [138]:
data_raw = pd.read_csv(data_path)
#data_raw = data_raw.loc[np.random.choice(data_raw.index, size=2000)]
data_raw.shape

(1490, 3)

In [139]:
print("Number of rows in data =",data_raw.shape[0])
print("Number of columns in data =",data_raw.shape[1])
print("\n")
print("**Sample data:**")
data_raw.head()

Number of rows in data = 1490
Number of columns in data = 3


**Sample data:**

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

Check for null values:

In [140]:
data_raw.isnull().sum()

ArticleId    0
Text         0
Category     0
dtype: int64

Checking number of articles in each category:

In [146]:
# categories_list = data_raw['Category'].unique()
print(data_raw['Category'].value_counts())
print(data_raw['Category'].value_counts(normalize=True))

sport            346
business         336
politics         274
entertainment    273
tech             261
Name: Category, dtype: int64
sport            0.232215
business         0.225503
politics         0.183893
entertainment    0.183221
tech             0.175168
Name: Category, dtype: float64

**Normal Data Exploration**

In [ ]:
data_raw['Category'].value_counts().plot(kind="bar")

In [ ]:
data_raw['Text'].where(data_raw['ArticleId'].duplicated()==False)

In [ ]:
data_raw[data_raw['Text'].duplicated()==True]

In [ ]:
data_raw = data_raw.drop_duplicates(subset=['Text'])

In [ ]:
data_raw.shape

**NLP Data Exploration**

In [ ]:
# import nltk
# nltk.download('stopwords', download_dir=os.curdir)
from nltk.corpus import stopwords
stop=set(stopwords.words('english'))

In [ ]:
from wordcloud import WordCloud

In [ ]:
comment_words = ''
for val in data_raw['Text'].where(data_raw['Category']=='business'):
     
    # typecaste each val to string
    val = str(val)
 
    # split the value
    tokens = val.split()
     
    # Converts each token into lowercase
    for i in range(len(tokens)):
        tokens[i] = tokens[i].lower()
     
    comment_words += " ".join(tokens)+" "

In [ ]:
wordcloud = WordCloud(
        background_color='white',
        stopwords=stop,
        max_words=100,
        max_font_size=30,
        scale=3,
        random_state=1)

wordcloud=wordcloud.generate(str(comment_words))

In [ ]:
plt.imshow(wordcloud)

**Preprocessing**

In [ ]:
from nltk.tokenize import word_tokenize
nltk.download('punkt', download_dir=os.curdir)
import re

In [ ]:
word_tokenize(' i have had a  yes  from a couple of others should i need them. davies impressed during. ')

In [ ]:
print(re.sub(' +', ' ', ' i have had a  yes     from a couple'))
print(re.sub(r'[^\w\s]', '', ' i %^ & have had a  yes     from a couple'))
print(re.sub(r'[^a-zA-Z0-9\s]', '', ' I AM i %^ & have had a  yes     from a couple'))

In [ ]:
def cleaning(text):
    text = text.lower()
    text = re.sub(' +', ' ', text) #removing multiple spaces
    text = re.sub(r'[^\w\s]', '', text)
    tokens = word_tokenize(text)
    tokens = [word for word in tokens if word not in stop]
    text = ' '.join(tokens)
    return text

In [ ]:
cleaning('i have had a  yes  from a couple of others should i need them. davies impressed during. ')

In [ ]:
data_raw['Text'] = data_raw['Text'].apply(cleaning)

In [ ]:
data_raw['Text'].head()